@charset "utf-8";
// このscssファイルは変数宣言専用ファイルです。
// ほかのscssファイルからインポートして使用してください

// グローバル変数宣言
// 色変数宣言
$white-color: white;
$night-sky-color: #000061;
$orange-color: #F09629;
$star-color: #FFFF00;
$lavender-color: #9090f3;
$site-map-bg-color: #262626;
$site-sub-color: #000000;

// adobe色変数宣言
$photoshop-text: #2FA3F7;
$photoshop-bg: #001D34;
$illustrator-text: #ff9a00;
$illustrator-bg: #330000;
$xd-text: #ff61f6;
$xd-bg: #470137;
$lightroom-text: #31a8ff;
$lightroom-gb: #001e36;
$premiere-text: #9999ff;
$premiere-bg: #00005b;


// 細々したパーツ
$box-radius:10px;
$content-padding:10px 5px 5px 20px;
$reset:0px;
$faint-gap: 7px;
$faint-two-gap: 14px;



// ニューモフィズム変数宣言
// 凸
$convex-neumorphism: 25px 25px 49px #000052,
-25px -25px 49px #000070;
// 凹
$concave-neumorphism: inset 25px 25px 49px #000052,
inset -25px -25px 49px #000070;

// cssアニメーション

// 変数宣言終わり
